:root {
  --primary-colour: #776b5d;
  --secondary-colour: #b0a695;
  --accent-colour: #b0a69588;

  --heading-font-family: "Roboto Slab", serif;
  --body-font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

body {
  font-family: var(--body-font-family);
}

.logo {
  max-height: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
  font-weight: 500;
}

/*Changes active state of nav link*/
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--primary-colour);
}

.homepage-hero {
  background-color: var(--accent-colour);
  color: black;
  text-align: center;
  padding: 160px 20px;
}

.content-container {
  padding: 120px 20px;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
}

.content-container h1 {
  font-size: 64px;
}

h2 {
  font-size: 54px;
}

h4 {
  font-size: 44px;
}

.homepage-hero h2 {
  font-size: 24px;
  line-height: 1.5;
}

.content-container h2 {
  font-size: 18px;
}

.inner-content h3 {
  font-size: 26px;
  line-height: 1.5;
}

.inner-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.homepage-hero p {
  font-size: 36px;
  margin: 0;
}

.inner-content {
  margin: 30px;
}

.btn-branding {
  background: var(--primary-colour);
  color: white;
  font-size: 18px;
  border-radius: 16px;
  padding: 12px 24px;
  line-height: 28px;
  font-weight: 500;
}

.btn-branding:hover {
  border: 1px solid var(--primary-colour);
  color: black;
}

.btn-branding-content {
  border: 1px solid var(--primary-colour);
  color: black;
  font-size: 18px;
  border-radius: 16px;
  padding: 12px 24px;
  line-height: 28px;
  font-weight: 500;
}

.btn-branding-content:hover {
  background: var(--secondary-colour);
  color: white;
}

.about-photo {
  width: 480px;
}

a {
  color: black;
  text-decoration-color: var(--primary-colour);
}

a:hover {
  color: var(--primary-colour);
}

footer {
  margin: 60px 0;
}

footer .contact-cta {
  background-color: var(--accent-colour);
  padding: 60px 80px;
  border-radius: 16px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-colour);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-colour);
  background-color: var(--accent-colour);
  padding: 10px 18px;
  font-size: 24px;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-colour);
}

@media (max-width: 992px) {
  .content-container {
    text-align: center;
    padding: 60px 20px;
  }

  .about-projects-button {
    margin-bottom: 42px;
  }
}

@media (min-width: 1200px) {
  .homepage-content {
    padding: 0px 60px;
  }
}

@media (max-width: 1200px) {
  .homepage-hero {
    padding: 90px 10px;
  }

  h1 {
    font-size: 64px;
    line-height: 1.2;
    margin: 26px 0;
  }

  .home-project-titles {
    font-size: 36px;
  }

  .homepage-content {
    text-align: center;
    padding: 0 10px;
  }

  footer .contact-cta {
    padding: 40px 60px;
  }

  footer .contact-cta a {
    padding: 14px 20px;
  }
}
