:root {
  --background-colour: #f3eeea;
  --primary-colour: #776b5d;
  --accent-colour: #b0a695;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.homepage-hero {
  background-color: var(--background-colour);
  text-align: center;
  padding: 160px 20px;
}

.content-container {
  padding: 120px 20px;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
}

.content-container h1 {
  font-size: 64px;
}

h2 {
  font-size: 54px;
}

.homepage-hero h2 {
  font-size: 24px;
  line-height: 1.5;
}

.content-container h2 {
  font-size: 18px;
}

.inner-content h3 {
  font-size: 26px;
  line-height: 1.5;
}

.inner-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.homepage-hero p {
  font-size: 36px;
  margin: 0;
}

.inner-content {
  margin: 30px;
}

.btn-branding {
  background: var(--primary-colour);
  color: white;
  font-size: 18px;
  border-radius: 16px;
  padding: 12px 24px;
  line-height: 28px;
}

.btn-branding:hover {
  background: var(--accent-colour);
  color: black;
}

.btn-branding-outline {
  border: 1px solid var(--primary-colour);
  color: black;
  font-size: 18px;
  border-radius: 16px;
  padding: 12px 24px;
  line-height: 28px;
}

.btn-branding-outline:hover {
  background: var(--accent-colour);
  color: white;
}

.about-photo {
  width: 480px;
}

a {
  color: black;
  text-decoration-color: var(--primary-colour);
}

a:hover {
  color: var(--primary-colour);
}

@media (max-width: 992px) {
  .content-container {
    text-align: center;
    padding: 60px 20px;
  }

  .about-projects-button {
    margin-bottom: 42px;
  }
}

@media (min-width: 1200px) {
  .homepage-content {
    padding: 0px 60px;
  }
}

@media (max-width: 1200px) {
  .homepage-hero {
    padding: 90px 10px;
  }

  h1 {
    font-size: 64px;
    line-height: 1.2;
    margin: 26px 0;
  }

  .home-project-titles {
    font-size: 36px;
  }

  .homepage-content {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 28px;
  }
}
