:root {
  --background-colour: #f3eeea;
  --primary-colour: #776b5d;
  --accent-colour: #b0a695;
  --default-font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
}

h1 {
  font-weight: 700;
  font-size: 96px;
}

a,
h2 {
  font-weight: 500;
}

h2 {
  font-size: 36px;
}

.hero {
  text-align: center;
  background-color: var(--background-colour);
}

.hero p {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}

.hero .btn-branding {
  background: var(--primary-colour);
  color: white;
  font-size: 18px;
  border-radius: 16px;
  padding: 12px 24px;
  line-height: 28px;
}

.hero .btn-branding:hover {
  background: var(--accent-colour);
  color: black;
}
